@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap&family=Alkalami&family=Secular+One&display=swap&family=Lato:wght@900&display=swap&family=Titillium+Web:wght@900&display=swap&family=Aclonica:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    user-select: none;
    -webkit-user-drag: none;
    cursor: none;
    touch-action: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(14, 13, 13), rgb(29, 0, 110));
    border-radius: 5px;
}

@media screen and (min-width:720px) {
    :root {
        --page-color: rgb(3, 1, 19);
        --home_page_body_bg: rgba(4, 20, 36, 0.743) url(../assets/cool-background.svg) no-repeat 50% 60%;
        --skill_page_body_bg: rgba(27, 23, 2, 0.744) url(../assets/cool-background.svg) no-repeat 50% 40%;
        --project_page_body_bg: rgba(2, 29, 13, 0.742) url(../assets/cool-background.svg) no-repeat 50% 20%;
        --contact_page_body_bg: rgba(24, 12, 2, 0.743) url(../assets/cool-background.svg) no-repeat 50% 0%;
        --navbar_body_bg: rgba(16, 16, 17, 0.788) url(../assets/cool-background.svg) no-repeat 50% 30%;
        --line-color: rgb(66, 66, 66);
        --aclonica: 'Aclonica', sans-serif;
        --bungee: 'Bungee Spice', Copperplate, Papyrus, fantasy, cursive;
        --cursor-color: #ffff;
        --text-color: white;
        --status-color: chocolate;
        --card-bg: white;
    }
}
@media screen and (max-width:720px) {
    :root {
        --page-color: rgb(3, 1, 19);
        --home_page_body_bg: rgba(4, 20, 36, 0.743) url(../assets/cool-background.svg) no-repeat 50% 0%;
        --skill_page_body_bg: rgba(27, 23, 2, 0.744) url(../assets/cool-background.svg) no-repeat 50% 0%;
        --project_page_body_bg: rgba(2, 29, 13, 0.742) url(../assets/cool-background.svg) no-repeat 50% 0%;
        --contact_page_body_bg: rgba(24, 12, 2, 0.743) url(../assets/cool-background.svg) no-repeat 50% 0%;
        --navbar_body_bg: rgba(16, 16, 17, 0.788) url(../assets/cool-background.svg) no-repeat 50% -15%;
        --line-color: rgb(66, 66, 66);
        --aclonica: 'Aclonica', sans-serif;
        --bungee: 'Bungee Spice', Copperplate, Papyrus, fantasy, cursive;
        --cursor-color: #ffff;
        --text-color: white;
        --status-color: chocolate;
        --card-bg: white;
    }
}

.cursor,
.cursor_folower {
    position: fixed;
    border-radius: 50%;
    background-color: var(--cursor-color);
    pointer-events: none;
    opacity: 0;

}

.cursor {
    height: 5px;
    width: 5px;
    z-index: 999;
    mix-blend-mode: difference;
}

.cursor_folower {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 10px 20px var(--cursor-color);
    transition: all .4s, top .2s ease-out, left .2s ease-out;
    transform-origin: 0% 0%;
    transform: translate(-45%, -50%);
    z-index: 1000;
    mix-blend-mode: difference;
}

body:has(:is(.page img, .line, .skill_card, .baloon, .project_con>div, .form, .social):hover, .container:hover .page_hovonnav) .cursor_folower {
    background-color: rgb(8, 8, 8);
    box-shadow: none;
    height: 60px;
    width: 60px;
}

body:has(:is(.right, .navbar p, .hamburger):hover) .cursor_folower {
    background-color: rgb(8, 8, 8);
    box-shadow: none;
    height: 100px;
    width: 100px;
}

body:has(.left:hover) .cursor_folower {
    height: 100px;
    width: 100px;
    mix-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.352);
    box-shadow: none;
}

.line::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    left: 100%;
    height: 5px;
    z-index: 1000;
    background-color: var(--line-color);
    transition: width .4s ease-out, left .4s ease-out, background-color 0s 0.4s;
}

.line:hover::after {
    transition: left 0s,
        width .4s;
    left: 0%;
    width: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100svw;
    max-height: 100svh;
    overflow: hidden;
    animation: onload 1s .8s ease-in-out 1;
    background-blend-mode: color-burn;
    transition: background-size .4s, background-position .4s, background-color .4s;
}

@keyframes onload {
    from {
        background-position: 50% 0%;
    }

    to {
        background-position: 50% 60%;
    }
}

body:has(.home_page[data-value="active"]),
body:has(.navbar p:nth-of-type(1):hover) {
    background: var(--home_page_body_bg);
    background-size: 200%;
}

body:has(.skill_page[data-value="active"]),
body:has(.navbar p:nth-of-type(2):hover) {
    background: var(--skill_page_body_bg);
    background-size: 200%;
}

body:has(.project_page[data-value="active"]),
body:has(.navbar p:nth-of-type(3):hover) {
    background: var(--project_page_body_bg);
    background-size: 200%;
}

body:has(.contact_page[data-value="active"]),
body:has(.navbar p:nth-of-type(4):hover) {
    background: var(--contact_page_body_bg);
    background-size: 200%;
}

body:has(.check:checked, .page:hover) {
    background-size: 180%;
}


nav .line::after {
    --line-color: black;
}

nav {
    height: 15%;
    display: grid;
    grid-template-columns: 80% 20%;
    place-items: center;
}

nav>p {
    position: relative;
    left: 10%;
    mix-blend-mode: overlay;
    text-align: center;
    z-index: 10;
    font-size: clamp(1.7em, 5vw, 2.5em);
    color: transparent;
    font-family: var(--bungee);
    background: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px -2px 0px rgba(0, 0, 0, .8);
    transition: text-shadow .4s, font-size .4s;
}

body:has(.check:checked) nav>p {
    mix-blend-mode: difference;
    font-size: 1.5em;
    text-shadow: none;
}

.hamburger {
    position: relative;
    height: 60px;
    width: 60px;
    mix-blend-mode: difference;
    z-index: 5;
    background-color: rgb(83, 82, 82);
    border-radius: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.check:not(:checked):hover~:is(.line-1, .line-3) {
    transform: translateX(5px);
}

.check:hover~.line-2 {
    transform: translateX(-2.5px);
}

:is(.line-1, .line-2, .line-3) {
    height: 3px;
    width: 20px;
    background: rgb(255, 255, 255);
    transition: transform .4s;
}

.check:checked~.line-2 {
    display: none;
}

.check:checked~.line-1 {
    transform: translateY(3px) rotate(-45deg);
    width: 30px;
}

.check:checked~.line-3 {
    transform: translateY(-3px) rotate(45deg);
    width: 30px;
}

.check {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: none;
    z-index: 10;
}

.hamburger:has(.check:checked) {
    mix-blend-mode: screen;
}

.navbar {
    position: absolute;
    top: 7.5%;
    left: 90%;
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.651);
    transition: all .4s ease-in-out;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-radius: 50%;
    opacity: 0.1;
}

.hamburger:has(.check:checked)~.navbar {
    margin: 0;
    transition: transform none;
    transform: none;
    top: 0vh;
    left: 35vw;
    width: 65vw;
    height: 100%;
    border-radius: 0;
    z-index: 1;
    opacity: 1;
}

.navbar p {
    width: 15vw;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0;
    scale: 0 1;
    font-family: 'Raleway', sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: inset 15px -5px 5px -10px white, inset -15px -5px 5px -10px white;
    background-color: rgba(0, 0, 0, 0.226);
    transition: scale .1s;
    transform: translateX(100%);
    color: var(--text-color);
    font-weight: bold;
}

.navbar p:hover {
    color: black;
    transition: color none;
}

.hamburger:has(.check:checked)~.navbar p {
    scale: 1 1;
    opacity: 1;
    transform: none;
    transition: all .5s .5s, color 0s;
}

.navbar p::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    transition: all .4s;
}

.navbar p:hover::after {
    transition: left 0s, width .4s;
    left: 0;
    width: 100%;
}

.container {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    place-items: center;
    transition: transform .4s;
}

body:has(.right:hover) .container {
    transform: translate(-10px, 0);
}

body:has(.left:hover) .container {
    transform: translate(10px, 0);
}

.arrow {
    position: relative;
    width: 6vw;
    height: 25vh;
    display: grid;
    place-items: center;
    transition: scale .4s, transform .4s, width .4s;
    scale: 1;
    transform: none;
}

.arrow:hover {
    width: 10vw;
}

.arrow_hide {
    scale: .1;
}

.content {
    position: relative;
    height: 66%;
    width: 75%;
    scale: 1;
    transition: all 400ms cubic-bezier(0.75, 0.48, 0, 1.07);
}

.content_hover {
    scale: 1.4;
}

.page {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2px;
    transition: all 450ms ease-in-out;
    background-color: var(--page-color);
    backdrop-filter: blur(5px);
}

.page[data-value="inactive"] {
    transform: translate(0px);
    scale: 0;
    opacity: 0;
}

.page[data-value="before_active"] {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
}

.page[data-value="after_active"] {
    transform: translateX(100%);
    scale: 0;
    opacity: 0;
}

.page[data-value="active"] {
    transform: translateX(0);
    scale: 1;
    opacity: 1;
}

.content .pageon_ham_show {
    opacity: 0;
    scale: 0;
    transform: translate(-110%, -100%);
    pointer-events: none;
}

.content .page_hovonnav {
    opacity: 1;
    transform: translate(-110%, 0);
    scale: .5;
}





.home_page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 100%;
    padding: 0 15px;
    font-size: clamp(.7em, 1.2vw, 1em);
}

.home_page .img {
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.home_page .img img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.img::after,
.img::before {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.img::before {
    width: 90%;
    background-color: rgb(255, 255, 255);
}

.img::after {
    width: 70%;
    background-color: var(--page-color);
}

.home_page p {
    position: relative;
    line-height: 1.4em;
    color: var(--text-color);
}

.br {
    display: none;
}

.home_page p:hover {
    --line-color: rgba(10, 43, 77, 1);
}

.intro h2 {
    font-weight: 800;
    color: var(--text-color);
    line-height: 1.4em;
}

.status {
    display: flex;
}

.status p:nth-of-type(1) {
    width: 0%;
    animation: typewrite 1s 2s steps(7) 1 forwards;
    overflow: hidden;
    white-space: nowrap;
}

.status_text {
    font-weight: bold;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
}

.status_tt {
    position: relative;
    display: none;
    color: var(--status-color);
}

.status_tt:hover {
    --line-color: var(--status-color)
}

.status_show {
    display: block;
}

@keyframes typewrite {
    from {
        width: 0%;
    }

    to {
        width: 7ch;
    }
}

/* @media screen and (max-width:480px) {
    .home_page {
        grid-template-columns: 1fr;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}


.home_page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 100%;
    padding: 0 15px;
    font-size: clamp(.7em, 1.2vw, 1em);
}

.home_page .img {
    position: relative;
    height: 100%;
}

.home_page .img img {
    height: 100%;
    object-fit: contain;
}

.img::after,
.img::before {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.img::before {
    width: 90%;
    background-color: rgb(255, 255, 255);
}

.img::after {
    width: 70%;
    background-color: var(--page-color);
}

.home_page p {
    position: relative;
    line-height: 1.4em;
    color: var(--text-color);
}

.br {
    display: none;
}

@media screen and (max-width:800px) {
    .br {
        display: block;
    }
}

.home_page p:hover {
    --line-color: rgba(10, 43, 77, 1);
}

.intro h2 {
    font-weight: 800;
    color: var(--text-color);
    line-height: 1.4em;
}

.status {
    display: flex;
}

@media screen and (max-width:720px) {
    .status {
        flex-direction: column;
    }
}

.status p:nth-of-type(1) {
    width: 0%;
    animation: typewrite 1s 2s steps(7) 1 forwards;
    overflow: hidden;
    white-space: nowrap;
}

.status_text {
    font-weight: bold;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
}

.status_tt {
    position: relative;
    display: none;
    color: var(--status-color);
}

:is(.status_tt, :is(.skill_page, .project_page, .contact_page) h2)::after {
    bottom: -5%;
}

.status_tt:hover {
    --line-color: var(--status-color)
}

.status_show {
    display: block;
}

@keyframes typewrite {
    0% {
        width: 0%;
    }

    100% {
        width: 7ch;
    }
} */

:is(.skill_page, .project_page, .contact_page) {
    text-align: center;
    padding: 3% 1vw;
}

:is(.skill_page, .project_page, .contact_page) h2 {
    position: relative;
    font-size: clamp(.8em, 1.5vw, 1.2em);
    font-family: var(--aclonica);
    --line-color: var(--text-color);
    width: fit-content;
    margin: 0px auto 3%;
    color: var(--text-color);
}

.skill_content {
    display: flex;
    height: 60%;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
}

.Skillcard_content:hover::-webkit-scrollbar {
    display: flex;
}

.skill_card {
    height: clamp(43px, 35%, 63px);
    width: clamp(100px, 20%, 148px);
    border-radius: 5px;
    position: relative;

    & img {
        padding: 4% 0;
    }

    & .front {
        background-color: var(--card-bg);
    }

    & .back {
        display: grid;
        place-items: center;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        text-align: center;
        word-break: break-all;
    }
}

:is(.front, .back) {
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: none;
    transition: all .4s;
    backface-visibility: hidden;
    position: absolute;
    z-index: 2;
}

.back {
    background-color: var(--card-bg);
    color: black;
    word-wrap: break-word;
    overflow-y: scroll;
    text-align: left;
    padding: 5px;
    font-size: .7em;
    z-index: 1;
    scale: 1 0;

    >a {
        color: black;
    }
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:is(.project_con>div:hover, .skill_card:hover) .front {
    transform: rotateY(180deg);
}

:is(.project_con>div:hover, .skill_card:hover) .back {
    transform: rotateY(360deg);
    scale: 1 1;
}

.skill_content::after {
    content: 'Hover on baloon and cards for more information';
    font-size: clamp(.5em, .8vw, .7em);
    width: fit-content;
    text-wrap: nowrap;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .4s ease-in-out;
    opacity: 1;
    color: var(--text-color);
}

.skill_page:has(.trail .baloon:hover, .skill_card:hover) .skill_content::after {
    opacity: 0;
}

.trail {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 22%;
    left: 0;
    width: 100%;
    color: var(--text-color);
    position: relative;
}

.trail li {
    position: relative;
    display: flex;
    gap: 10px;
    width: 75%;
    justify-content: space-evenly;
}

li hr {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
}

.trail li ul {
    position: relative;
    font-size: clamp(.7em, 1.2vw, 1em);
}

.trail li ul>p {
    transform: translate(0, 25%);
}

.trail li ul::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #6d6d6d;
}

.baloon {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #9191919a;
    border-radius: 50% 50% 10% 50%;
    transform-origin: 0 -50%;
    rotate: 45deg;
    box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
    overflow: hidden;
    color: transparent;
    padding: 5px;
    text-align: left;
    font-size: .7em;
    transition: all .4s, rotate .4s .2s;
}

.baloon:hover {
    background-color: white;
    rotate: 0deg;
    translate: 0 5%;
    height: 300%;
    aspect-ratio: 2/1;
    border-radius: 5px;
    transition: all .4s,
        color .4s .4s;
    overflow-y: scroll;
    color: black;
    box-shadow: none;
}

.project_con {
    margin-top: 20px;
    height: 75%;
    max-height: 85%;
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
    flex-wrap: wrap;
}

.project_con::-webkit-scrollbar,
.back::-webkit-scrollbar {
    display: flex;
}

.project_con>div {
    width: 15vw;
    height: calc(15vw*(9/16));
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: blur .4s, opacity .4s;
}

.project_con:has(>div:hover)>div:not(:hover) {
    filter: blur(1px);
    opacity: .8;
}

.contact_con {
    padding: 13px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 21px;
    place-items: center;
    height: fit-content;
    overflow: scroll;
}

.form {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    text-align: center;
    width: 28vw;
    height: fit-content;
    display: grid;
    color: #ffffff;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 40px;
    column-gap: 5px;
    row-gap: 2px;
    padding: 10px 0;
    font-size: .8em;
    place-items: center;
    border-radius: 5px;
}

.form h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form .label {
    justify-self: end;
}

.form .input {
    justify-self: start;
}

.input::placeholder {
    font-size: 1.1em;
}

.input {
    font-size: .8em;
    background-color: rgb(17, 17, 17);
    height: 35px;
    width: 175px;
    border: none;
    border-radius: 10.5px;
    padding: 0 2vh;
    color: white;
}

.input:focus {
    outline: rgba(255, 255, 255, 0.582) solid 2px;
    border: none;
}

.input:not(:placeholder-shown) {
    background-color: rgb(232, 240, 254);
    color: black;
}

.input:not(:placeholder-shown):focus {
    outline: rgba(0, 0, 0, 0.459) solid 2px;

}

.form div {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

.submit {
    height: 4vh;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.1em;
    /* box-shadow: -1px -1px 8px rgb(255, 255, 255), */
    /* 1px 1px 8px rgb(255, 4, 4); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
}

.reset {
    background: rgb(17, 17, 17);
    box-shadow: none;
}

.reset img {
    width: 25px;
    aspect-ratio: preserve;
}


.social {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    overflow: scroll;
    color: #ffffff;
}

.media_icon {
    display: flex;
    gap: 30%;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    justify-content: space-around;
    mix-blend-mode: difference;
}

.social div img {
    width: 30px;
    aspect-ratio: preserve;
}

.chat {
    /* background-color: white; */
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
}